@using CourseWorkData.Models
@model CourseWorkData.Models.Appointment
@{
    ViewBag.Title = "Appointment";
}
<h2>Добавление часов работы</h2>
<form asp-action="createAppointment" asp-controller="home">
    <p>
        <label asp-for="District">Участок</label>
        <input type="number" asp-for="District" />
        <span asp-validation-for="District" />
    </p>
    <p>
        <label asp-for="Сabinet">Кабинет</label>
        <input type="number" asp-for="Сabinet" />
        <span asp-validation-for="Сabinet" />
    </p>
    <p>
        <select  name="id1">
            @foreach (AppointmentTable i in ViewBag.appTable)
            {                  
                <option value="@i.Id">@i.Id @i.Lname @i.Fname @i.Pname</option>
            }
        </select>
        <select  name="day">
            @foreach (string i in Enum.GetNames(typeof(CourseWorkData.Models.DayOfWeek)))
            {
                <option value="@i">@i</option>
            }
        </select>
        <p>
          <label>начало</label>
          <input id="timeStart" type="time" name="timeStart">
        </p>
         <p>
          <label>конец</label>
          <input id="timeEnd" type="time" name="timeEnd">
        </p>
      
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>
@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}
<p><a asp-action="ShowAppointment" >Показать время приема</a></p>
