@model CourseWorkData.Models.Disease
@{
    ViewBag.Title = "Disease";
}
<h2>Добавление болезни</h2>
<form asp-action="createDisease" asp-controller="home">
    <p>
        <label asp-for="Name">Название болезни</label><br />
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name" />
    </p>
    <p>
        <select multiple  name="sym">
            @foreach (string i in ViewBag.sym)
            {
                <option value="@i">@i</option>
            }
        </select>
        <select multiple  name="med">
            @foreach (string i in ViewBag.med)
            {
                <option value="@i">@i</option>
            }
        </select>
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>
@if (ViewBag.error != null)
{
   <p>@ViewBag.error</p>
}
<p><a asp-action="ShowDisease" asp-route-dis="@null" asp-route-all="@true">Показать болезни</a></p>
