@using CourseWorkData.Models
@{
    ViewBag.Title = "ShowDoctor";
}
<h2>Список врачей</h2>
<table class="table">
    <tr><th>—</th><th>Фамилия</th><th>Имя</th><th>Отчество</th></tr>
    @{
        int i = 1;
        foreach (var item in ViewBag.Name)
        {
            <tr>
                <th>@i</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.PatrName</td>
                <td><p><a asp-action="ShowAppointment" asp-route-id="@item.Id">Найти данные о враче</a></p></td>
                <td><p><a asp-action="ShowUser" asp-route-docId="@item.Id">Найти данные о пациентах</a></p></td>
            </tr>
            i++;
        }
    }
</table>
<p><a asp-action="CreateDoctor">Добавить врача</a></p>
